@model List<HotelManager.Models.VM.HabitacionesVM>

@{
    ViewData["Title"] = "Lista de Habitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Habitaciones</h1>

<table class="table">
    <thead>
        <tr>
            
            <th>Numero de Habitación</th>
            <th>Tipo de Habitación</th>
            <th>Tarifa</th>
            <th>Descripcion</th>
            <th>Disponibilidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var habitacion in Model)
        {
            <tr>
                
                <td>@habitacion.Numero</td>
                <td>@habitacion.TipoHabitacion</td>
                <td>@habitacion.Tarifa</td>
                <td>@habitacion.Descripcion</td>
                <td>
                    @if (habitacion.Disponibilidad)
                    {
                        <span class="text-success">Disponible</span>
                    }
                    else
                    {
                        <span class="text-danger">No Disponible</span>
                    }
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@habitacion.IDHabitacion" class="btn btn-warning">Editar</a>
                    <!-- Agregamos un enlace para editar con el ID de la habitación -->
                    <a asp-action="Eliminar" asp-route-id="@habitacion.IDHabitacion" class="btn btn-danger">Eliminar</a>
                    @if (habitacion.Disponibilidad)
                    {
                        <a asp-action="Reservar" asp-route-id="@habitacion.IDHabitacion" class="btn btn-primary">Reservar</a>
                    }
                    else
                    {
                        <button class="btn btn-secondary" disabled>Reservar</button>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
<form asp-action="Insertar" method="get">
    <button type="submit" class="btn btn-primary">Insertar Nueva Habitación</button>
</form>
