@model IEnumerable<HotelManager.Models.CorrelativoSAR>

@{
    ViewData["Title"] = "Correlativos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="pt-5 mt-5">Correlativos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Registrar Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCAI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimoUtilizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLimite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finalizado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCAI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimoUtilizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaLimite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finalizado)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.IDCorrelativoSAR">Editar</a>
            </td>
        </tr>
}
    </tbody>
</table>