@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model HotelManager.Models.Reserva

@{
    ViewData["Title"] = "Reservar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = UserManager.GetUserId(User);
}

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var displayName = user?.Nombre;

    if (User.IsInRole("Cliente"))
    {
        <h2 class="text-center border-bottom pt-5 m-5">Defina su Estadia</h2>
    }
    else
    {
        <h2 class="text-center border-bottom pt-5 m-5">Reservar para un cliente</h2>
    }
}

<div class="container">

    <form asp-action="Create" novalidate>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row d-flex justify-content-center">
            @if (!User.IsInRole("Cliente"))
            {
                <div class="col-md-4 border p-3">

                    <h4>Cliente</h4>

                    <div id="errorUsuario" class="text-danger" style="display:none;"></div>

                    <div class="form-group mb-4" style="display:none;">
                        <label asp-for="IDUsuario" class="control-label">ID del Cliente</label>
                        <input asp-for="IDUsuario" class="form-control" readonly />
                        <span asp-validation-for="IDUsuario" class="text-danger"></span>
                    </div>

                    <div class="alert alert-success mt-3" role="alert" id="alertaUsuarioSeleccionado" style="display: none;">
                        Cliente Seleccionado
                    </div>

                    <div class="form-group">
                        <label asp-for="NumeroIdentidad" class="control-label">Número de Identidad</label>
                        <input asp-for="NumeroIdentidad" class="form-control" />
                        <span asp-validation-for="NumeroIdentidad" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label">Nombre</label>
                        <input asp-for="Nombre" class="form-control" />
                    </div>

                    <!-- Agrega el campo de correo electrónico -->
                    <div class="form-group">
                        <label asp-for="CorreoElectronico" class="control-label">Correo Electrónico</label>
                        <input asp-for="CorreoElectronico" class="form-control" />
                        <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label">Número de Teléfono</label>
                        <input asp-for="Telefono" class="form-control" />
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Direccion" class="control-label">Dirección</label>
                        <input asp-for="Direccion" class="form-control" />
                    </div>

                    <!-- Añade el botón de búsqueda -->
                    <div class="form-group mb-3">
                        <button type="button" class="btn btn-primary" id="btnBuscarUsuario">Buscar Usuario</button>
                        <button type="button" id="btnLimpiarUsuario" class="btn btn-secondary align-self-end" style="display:none;" onclick="limpiarUsuario()">Limpiar</button>
                    </div>

                </div>
            }
            else
            {
                <div class="form-group mb-4" style="display:none;">
                    <label asp-for="IDUsuario" class="control-label">ID del Cliente</label>
                    <input asp-for="IDUsuario" class="form-control" readonly value="@userId" />
                </div>
            }

            @if (!User.IsInRole("Cliente"))
            {
                <div class="col-md-4 border p-3">

                    <h4>Habitación</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="alert alert-success mt-3" role="alert" id="alertaHabitacionSeleccionada" style="display: none;">
                        Habitacion Seleccionada
                    </div>

                    <div id="errorHabitacion" class="text-danger" style="display:none;"></div>


                    <div class="form-group" style="display:none;">
                        <label asp-for="IDHabitacion" class="control-label"></label>
                        <input asp-for="IDHabitacion" class="form-control" onchange="updateTarifa()" readonly />
                    </div>

                    <div class="form-group">
                        <label asp-for="NumeroHabitacion" class="control-label">Número de Habitación</label>
                        <input asp-for="NumeroHabitacion" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="TipoHabitacion" class="control-label">Tipo de Habitación</label>
                        <select asp-for="TipoHabitacion" class="form-control" asp-items="ViewBag.Descripcion"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarifa" class="control-label">Tarifa de la habitación</label>
                        <input asp-for="Tarifa" id="Tarifa" class="form-control" />
                    </div>

                    <div class="form-check">
                        <label asp-for="Disponibilidad" class="form-check-label" for="chkSoloDisponibles">Solo Habitaciones Actualmente Disponibles</label>
                        <input asp-for="Disponibilidad" type="checkbox" class="form-check-input" id="Disponibilidad">
                    </div>

                    <div class="form-group mt-3 mb-3">
                        <button type="button" class="btn btn-primary" id="btnBuscarHabitacion">Buscar Habitación</button>
                        <button type="button" id="btnLimpiarHabitacion" class="btn btn-secondary align-self-end" style="display:none;" onclick="limpiarHabitacion()">Limpiar</button>
                    </div>

                </div>
            }
            else
            {
                <div class="form-group" style="display:none;">
                    <label asp-for="IDHabitacion" class="control-label">IDHabitacion</label>
                    <input asp-for="IDHabitacion" class="form-control" readonly />
                </div>
                <div class="form-group" style="display:none;">
                    <label asp-for="Tarifa" class="control-label">Tarifa de la habitación</label>
                    <input asp-for="Tarifa" id="Tarifa" class="form-control" readonly />
                </div>
            }

            <div class="col-md-4 border p-3">

                <h4>Estadía</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div id="errorFechas" class="text-danger" style="display:none;"></div>

                <!-- FechaCheckin -->
                <div class="form-group mb-3">
                    <label asp-for="FechaCheckin" class="control-label">Fecha de Check-In</label>
                    <input asp-for="FechaCheckin" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="updateTarifa()" />
                    <span asp-validation-for="FechaCheckin" class="text-danger"></span>
                </div>

                <!-- FechaCheckOut -->
                <div class="form-group mb-3">
                    <label asp-for="FechaCheckOut" class="control-label">Fecha de Check-Out</label>
                    <input asp-for="FechaCheckOut" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="updateTarifa()" />
                    <span asp-validation-for="FechaCheckOut" class="text-danger"></span>
                </div>


                <!-- Cantidad de días -->
                <div class="form-group">
                    <label for="CantidadDias" class="control-label">Cantidad de días</label>
                    <input id="CantidadDias" class="form-control" type="number" min="1" value="1" readonly />
                </div>

                <!-- TotalReserva -->
                <div class="form-group mb-4">
                    <label for="TotalReserva" class="control-label">Total de la reserva</label>
                    <input id="TotalReserva" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>

            </div>

        </div>

    </form>


    <div class="row ">

        <div class="col-md-12 border p-4" id="resultadosBusqueda" style="display: none;">

            <h4>Resultados de Búsqueda de Usuarios</h4>

            <table class="table">

                <thead>
                    <tr>
                        <th>Número Identidad</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Correo Electrónico</th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody id="tablaResultadosBody">
                    <!-- Aquí se agregarán dinámicamente las filas de resultados -->
                </tbody>

            </table>

        </div>

    </div>

    <div class="row ">
        <div class="col-md-12 border p-4" id="resultadosBusquedaHabitaciones" style="display: none;">
            <h4>Resultados de Búsqueda de Habitaciones</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Número Habitación</th>
                        <th>Tipo de Habitación</th>
                        <th>Disponibilidad</th>
                        <th>Tarifa</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody id="tablaResultadosHabitaciones">
                    <!-- Aquí se agregarán dinámicamente las filas de resultados de habitaciones -->
                </tbody>
            </table>
        </div>
    </div>


</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        $(document).ready(function () {

            var idHabitacion = $("#IDHabitacion").val();
            obtenerTarifa(idHabitacion);


            // Manejador de cambio de fechas
            $('#FechaCheckin, #FechaCheckOut').change(function () {
                calcularCantidadDias();
                calcularTotalReserva();
            });

            // Llamada inicial al cargar la página o seleccionar una habitación
            calcularTotalReserva();

            // Manejadores de clic fuera de la función de cambio de fechas
            $('#btnBuscarUsuario').click(function () {
                buscarUsuario();
            });

            $('#btnBuscarHabitacion').click(function () {
                buscarHabitacion();
            });

            $('#NumeroIdentidad, #Nombre, #Telefono, #Direccion').keydown(function (e) {
                if (e.keyCode === 13) {  // Verificar si se presiona la tecla Enter
                    buscarUsuario();
                    e.preventDefault();
                }
            });

            $(document).ready(function () {
                // Manejador de clic en el botón Facturar
                $('#btnFacturar').click(function () {

                });
            });
        });

        function obtenerTarifa(idHabitacion) {
            $.ajax({
                url: '@Url.Action("GetRoomRate", "Reservas")',
                type: 'GET',
                data: { idHabitacion: idHabitacion },
                success: function (tarifa) {
                    // Verificar si se obtuvo una tarifa válida
                    if (tarifa != null) {
                        // Actualizar el campo Tarifa con la tarifa obtenida
                        $('#Tarifa').val(tarifa);
                    } else {
                        // Manejar de otra manera si la tarifa no se obtuvo
                        console.log('No se pudo obtener la tarifa.');
                    }
                },
                error: function () {
                    // Manejar errores de la llamada AJAX
                    console.log('Error al obtener la tarifa.');
                }
            });
        }

        function calcularCantidadDias() {
            var fechaCheckin = new Date($('#FechaCheckin').val());
            var fechaCheckOut = new Date($('#FechaCheckOut').val());

            // Verificar si ambas fechas son válidas
            if (!isNaN(fechaCheckin) && !isNaN(fechaCheckOut)) {
                var diferenciaTiempo = fechaCheckOut - fechaCheckin;
                var diferenciaDias = Math.ceil(diferenciaTiempo / (1000 * 60 * 60 * 24));

                // Verificar si la diferencia de días es menor a 1
                if (diferenciaDias < 1) {
                    // Mostrar un mensaje de error y borrar las fechas
                    $('#FechaCheckin').val('');
                    $('#FechaCheckOut').val('');
                    $('#CantidadDias').val('');
                    $('#errorFechas').text('La diferencia de días debe ser al menos 1').show();
                } else {
                    // Actualizar el campo de cantidad de días
                    $('#CantidadDias').val(diferenciaDias);

                    // Ocultar el mensaje de error de fechas
                    $('#errorFechas').hide();
                }
            } else {
                // Mostrar un mensaje de error si las fechas no son válidas
                $('#CantidadDias').val('');
                $('#errorFechas').text('Seleccione fechas válidas').show();
            }
        }


        function calcularTotalReserva() {
            var tarifa = parseFloat($('#Tarifa').val());
            var cantidadDias = parseInt($('#CantidadDias').val());

            // Verificar si la tarifa y la cantidad de días son valores válidos
            if (!isNaN(tarifa) && !isNaN(cantidadDias)) {
                var totalReserva = tarifa * cantidadDias;

                // Formatear el total como moneda con símbolo L
                var formattedTotal = totalReserva.toLocaleString('es-US', {
                    style: 'currency',
                    currency: 'HNL', // Cambia a la moneda local correspondiente
                    minimumFractionDigits: 2
                });

                // Actualizar el campo de total de la reserva
                $('#TotalReserva').val(formattedTotal);
            } else {
                // Limpiar el campo de total de la reserva si los valores no son válidos
                $('#TotalReserva').val('');
            }
        }

        function buscarUsuario() {
            // Obtener valores de los campos de búsqueda
            var numeroIdentidad = $("#NumeroIdentidad").val();
            var nombre = $("#Nombre").val();
            var telefono = $("#Telefono").val();
            var direccion = $("#Direccion").val();
            var userName = $("#CorreoElectronico").val();

            // Realizar la búsqueda del usuario
            $.ajax({
                url: '@Url.Action("SearchUsers", "Reservas")',
                type: 'GET',
                data: {
                    numeroIdentidad: numeroIdentidad,
                    nombre: nombre,
                    telefono: telefono,
                    direccion: direccion,
                    userName: userName
                },
                success: function (usuarios) {
                    // Limpiar resultados anteriores
                    $("#tablaResultadosBody").empty();

                    // Verificar si se encontraron usuarios
                    if (usuarios.length > 0) {
                        // Mostrar la tabla de resultados
                        $("#resultadosBusqueda").show();

                        // Iterar sobre los usuarios y agregar filas a la tabla
                        for (var i = 0; i < usuarios.length; i++) {
                            var usuario = usuarios[i];

                            // Construir la fila de la tabla
                            var fila = `<tr>
                                                    <td>${usuario.numeroIdentidad}</td>
                                                    <td>${usuario.nombre}</td>
                                                    <td>${usuario.telefono}</td>
                                                    <td>${usuario.direccion}</td>
                                                    <td>${usuario.userName || 'N/A'}</td>
                                                    <td><button class='btn btn-primary' onclick='seleccionarUsuario("${encodeURIComponent(usuario.id)}", "${encodeURIComponent(usuario.numeroIdentidad)}", "${encodeURIComponent(usuario.nombre)}", "${encodeURIComponent(usuario.telefono)}", "${encodeURIComponent(usuario.direccion)}", "${encodeURIComponent(usuario.userName)}")'>Seleccionar</button></td>
                                                  </tr>`;

                            // Agregar la fila a la tabla
                            $("#tablaResultadosBody").append(fila);
                        }
                    } else {
                        // Ocultar la tabla de resultados si no se encontraron usuarios
                        $("#resultadosBusqueda").hide();
                        $('#errorUsuario').text('Usuario no encontrado').show();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error al buscar usuario");
                }
            });

            $("html, body").animate({
                scrollTop: $(document).height()
            }, 250);
            $('#errorUsuario').text('Usuario no encontrado').hide();

        }

        function seleccionarUsuario(id, numeroIdentidad, nombre, telefono, direccion, userName) {
            $("#IDUsuario").val(id).prop('readonly', true).addClass('is-valid');
            $("#NumeroIdentidad").val(decodeURIComponent(numeroIdentidad)).prop('readonly', true).addClass('is-valid');
            $("#Nombre").val(decodeURIComponent(nombre)).prop('readonly', true).addClass('is-valid');
            $("#Telefono").val(decodeURIComponent(telefono)).prop('readonly', true).addClass('is-valid');
            $("#Direccion").val(decodeURIComponent(direccion)).prop('readonly', true).addClass('is-valid');
            $("#CorreoElectronico").val(decodeURIComponent(userName)).prop('readonly', true).addClass('is-valid');
            $("#alertaUsuarioSeleccionado").fadeIn(500);
            $("#resultadosBusqueda").hide();
            $("#btnLimpiarUsuario").show();
        }

        function limpiarUsuario() {
            // Quitar la clase is-valid y establecer los campos como editables
            $("#IDUsuario, #NumeroIdentidad, #Nombre, #Telefono, #Direccion, #CorreoElectronico")
                .removeClass('is-valid')
                .prop('readonly', false)
                .val('');

            // Ocultar el botón de limpiar
            $("#btnLimpiarUsuario, #alertaUsuarioSeleccionado").hide();
        }

        function buscarHabitacion() {
            // Obtener valores de los campos de búsqueda de habitaciones
            var numeroHabitacion = $("#NumeroHabitacion").val();
            var tipoHabitacion = $("#TipoHabitacion").val();
            var tarifa = $("#Tarifa").val();  // Agregamos la tarifa al objeto de búsqueda
            var disponibilidad = $("#Disponibilidad").is(":checked");
            console.log(disponibilidad);

            // Realizar la búsqueda de habitaciones
            $.ajax({
                url: '@Url.Action("SearchRooms", "Reservas")',
                type: 'GET',
                data: {
                    numeroHabitacion: numeroHabitacion,
                    tipoHabitacion: tipoHabitacion,
                    tarifa: tarifa,  // Pasamos la tarifa como parámetro
                    disponibilidad: disponibilidad,
                },
                success: function (habitaciones) {
                    console.log(habitaciones)
                    // Limpiar resultados anteriores de habitaciones
                    $("#tablaResultadosHabitaciones").empty();

                    // Procesar y mostrar los resultados de habitaciones
                    if (habitaciones.length > 0) {
                        // Mostrar la tabla de resultados de habitaciones
                        $("#resultadosBusquedaHabitaciones").show();

                        // Iterar sobre las habitaciones y agregar filas a la tabla
                        for (var i = 0; i < habitaciones.length; i++) {
                            var habitacion = habitaciones[i];

                            // Construir la fila de la tabla
                            // Construir la fila de la tabla
                            if (habitacion.disponibilidad) {
                                var fila = `<tr>
                                                    <td>${habitacion.numero}</td>
                                                    <td>${habitacion.tipoHabitacion}</td>
                                                    <td class="text-success">Diponible</td>
                                                    <td>${habitacion.tarifa}</td>
                                                    <td>
                                                        <button class="btn btn-primary" onclick="seleccionarHabitacion(
                                                            '${encodeURIComponent(habitacion.idHabitacion)}',
                                                            '${encodeURIComponent(habitacion.numero)}',
                                                            '${encodeURIComponent(habitacion.idTipoHabitacion)}',
                                                            '${encodeURIComponent(habitacion.tipoHabitacion)}',
                                                            '${encodeURIComponent(habitacion.tarifa)}',
                                                            '${habitacion.disponibilidad}'
                                                        )">Seleccionar</button>
                                                    </td>
                                                </tr>`;

                                // Agregar la fila a la tabla
                                $("#tablaResultadosHabitaciones").append(fila);
                            } else {
                                var fila = `<tr>
                                                            <td>${habitacion.numero}</td>
                                                            <td>${habitacion.tipoHabitacion}</td>
                                                            <td class="text-danger">Ocupada</td>
                                                            <td>${habitacion.tarifa}</td>
                                                            <td>
                                                                <button class="btn btn-primary" onclick="seleccionarHabitacion(
                                                                    '${encodeURIComponent(habitacion.idHabitacion)}',
                                                                    '${encodeURIComponent(habitacion.numero)}',
                                                                    '${encodeURIComponent(habitacion.idTipoHabitacion)}',
                                                                    '${encodeURIComponent(habitacion.tipoHabitacion)}',
                                                                    '${encodeURIComponent(habitacion.tarifa)}',
                                                                    '${habitacion.disponibilidad}'
                                                                )">Seleccionar</button>
                                                            </td>
                                                        </tr>`;

                                // Agregar la fila a la tabla
                                $("#tablaResultadosHabitaciones").append(fila);
                            }

                        }
                    } else {
                        // Ocultar la tabla de resultados si no se encontraron habitaciones
                        $("#resultadosBusquedaHabitaciones").hide();
                        $('#errorHabitacion').text('Hacitacion no encontrada').show();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error al buscar habitación");
                }
            });
            $("html, body").animate({
                scrollTop: $(document).height()
            }, 250);
            $('#errorHabitacion').text('Hacitacion no encontrada').hide();

        }

        function seleccionarHabitacion(idHabitacion, numeroHabitacion, idTipoHabitacion, tipoHabitacion, tarifa, disponibilidad) {
            var fechaCheckin = $('#FechaCheckin').val();
            var fechaCheckOut = $('#FechaCheckOut').val();

            if (disponibilidad == "true") {
                // Asignar los valores de la habitación seleccionada a los campos de búsqueda
                $("#IDHabitacion").val(decodeURIComponent(idHabitacion)).prop('readonly', true).addClass('is-valid');
                $("#NumeroHabitacion").val(decodeURIComponent(numeroHabitacion)).prop('readonly', true).addClass('is-valid');
                $("#IDTipoHabitacion").val(decodeURIComponent(idTipoHabitacion)).prop('readonly', true).addClass('is-valid');
                $("#TipoHabitacion").val(decodeURIComponent(tipoHabitacion)).prop('readonly', true).addClass('is-valid');
                $("#Tarifa").val(decodeURIComponent(tarifa)).prop('readonly', true).addClass('is-valid');

                // Mostrar la alerta de habitación seleccionada
                $("#alertaHabitacionSeleccionada").fadeIn(500);

                // Ocultar la tabla de resultados de habitaciones
                $("#resultadosBusquedaHabitaciones").hide();

                // Mostrar el botón de limpiar habitación
                $("#btnLimpiarHabitacion").show();
                $('#errorHabitacion').hide();
                calcularTotalReserva();
            } else {
                $('#errorHabitacion').text('Hacitacion no esta disponible').show();
            }
        }

        function limpiarHabitacion() {
            // Quitar la clase is-valid y establecer los campos como editables
            $("#IDHabitacion, #NumeroHabitacion, #IDTipoHabitacion, #TipoHabitacion, #Tarifa")
                .removeClass('is-valid')
                .prop('readonly', false)
                .val('');

            // Ocultar el botón de limpiar
            $("#btnLimpiarHabitacion").hide();
            $("#alertaHabitacionSeleccionada").hide();

        }

        function verificarDisponibilidadHabitacion(idHabitacion, fechaCheckin, fechaCheckOut) {
            $.ajax({
                url: '@Url.Action("VerificarDisponibilidadHabitacion", "Reservas")',
                type: 'GET',
                data: {
                    idHabitacion: idHabitacion,
                    fechaCheckin: fechaCheckin,
                    fechaCheckOut: fechaCheckOut
                },
                success: function (disponible) {
                    if (disponible) {
                        seleccionarHabitacion(idHabitacion);
                    } else {
                        $('#errorHabitacion').text('Habitación no disponible en las fechas seleccionadas').show();
                    }
                },
                error: function () {
                    console.log('Error al verificar disponibilidad.');
                }
            });
        }


    </script>

}