@model IEnumerable<HotelManager.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCheckin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EncabezadoFactura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCheckin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitacion.IDHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncabezadoFactura.IDFactura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDReserva">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDReserva">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDReserva">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
