@model List<HotelManager.Models.VM.ReservasVM>

@{
    ViewData["Title"] = "Lista de Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Reservas</h1>

<form asp-action="Insertar" method="get">
    <button type="submit" class="btn btn-primary">Insertar Nueva Reserva</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID Reserva</th>
            <th>ID Usuario</th>
            <th>ID Habitación</th>
            <th>ID Factura</th>
            <th>Fecha Check-in</th>
            <th>Fecha Check-out</th>
            <th>Estado Reserva</th>
            <!-- Puedes agregar más columnas según sea necesario -->
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
            <tr>
                <td>@reserva.IDReserva</td>
                <td>@reserva.IDUsuario</td>
                <td>@reserva.Habitacion.TipoHabitacion</td>
                <td>@reserva.IDFactura</td>
                <td>@reserva.FechaCheckin.ToString("yyyy-MM-dd")</td>
                <td>@reserva.FechaCheckOut.ToString("yyyy-MM-dd")</td>
                <td>@reserva.EstadoReserva</td>
                <!-- Agrega más celdas según sea necesario -->
            </tr>
        }
    </tbody>
</table>
