@model IEnumerable<HotelManager.Models.Reserva>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr class="mt-5" />
<hr class="mt-5" />
<h3 class="text-center">Historial de Reservas</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCheckin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EncabezadoFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCheckin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitacion.IDHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncabezadoFactura.IDUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDReserva">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDReserva">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDReserva">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
