@model HotelManager.Models.EncabezadoFactura

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EncabezadoFactura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDCorrelativoSAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDCorrelativoSAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroFacturaSAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroFacturaSAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotalFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotalFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescuentoFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescuentoFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpuestoFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpuestoFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eliminada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserva.IDUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDFactura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
