@model IEnumerable<HotelManager.Models.EncabezadoFactura>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Cliente"))
{
    <h1 class="mt-5 pt-5">Mis Facturas</h1>
}@if (!User.IsInRole("Cliente"))
{
    <h1 class="mt-5 pt-5">Facturas</h1>
}


<table class="table">
    <thead>
        <tr>
            <th>
                Número de Factura
            </th>
            <th>
                Fecha
            </th>
            <th>
                Total
            </th>
            @if (!User.IsInRole("Cliente"))
            {
                <th>
                    Numero de Identidad
                </th>
                <th>
                    Cliente
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (User.IsInRole("Cliente"))
        {
            @foreach (var item in Model)
            {
                @if (item.IDUsuario.Equals(UserManager.GetUserId(User)))
                {
                    @if (!item.Eliminada)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroFacturaSAR)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaFactura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalFactura)
                            </td>
                            <td class="btn-group">
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IDFactura">Detalles</a>
                            </td>
                        </tr>                        
                    }
                }
            }

        }
        @if (!User.IsInRole("Cliente"))
        {
            @foreach (var item in Model) {
                @if (!item.Eliminada)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroFacturaSAR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaFactura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalFactura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationUser.NumeroIdentidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationUser.Nombre)
                        </td>
                        <td class="btn-group">
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IDFactura">Detalles</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IDFactura">Eliminar</a>
                        </td>
                    </tr>
                }
            }    
        }
    </tbody>
</table>
